h1 {
    color: rgb(236, 236, 236);
    text-align: center;
    border-style: solid ;
    border-color: rgb(71, 71, 71);
    background-color: rgba(155, 155, 155, 0.5); 
    border-bottom: 6px solid rgb(87, 87, 87);
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(252, 252, 252);
    font: arial;
    border-bottom: 6px solid rgb(87, 87, 87);
}
p {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(70, 155, 253);
    text-align: left;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 16px;
    padding-left: 168px;
    padding-top: 1px;
    padding-bottom: 1px;
}
body {
    background: url(img/foto.png);
}
.style1 {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(224, 252, 67, 0.904);
    margin-left: 50px;
    margin-right: 50px;
    font-size: 19px;
    text-align: center;
    
}
ul {
    color: rgb(253, 91, 70);
    margin-left: 90px;
    margin-right: 90px;
    text-align: left;
    padding-left: 443px;
}
.style2 {
 background-color:rgba(102, 97, 97, 0.116)
}
a {
    color: rgb(252, 71, 58);
}
.style3{
    background-color: rgba(70, 70, 70, 0.233);
    font-weight: 30;
    font-size:18px ;
}
h3 {
    background-color: rgba(0, 255, 255, 0);
}
h4 {
    text-align: left;
    margin-left: 90px;
    margin-right: 90px;
    color: cyan;
    font-size: 25px;
}
h5 {
    color: rgba(0, 0, 0, 0);
}